{{#if isActive}}
  {{#link-to route class="f6 fw4 blue link ml2 ml3-m ml4-l dib pa2 db tc"}}
    <i class="material-icons db tc mb1" style="display: block">{{icon}}</i> <div class="db tc">{{text}}</div>
  {{/link-to}}
{{else}}
  {{#link-to route class="f6 fw4 moon-gray hover-light-blue bg-animate link ml2 ml3-m ml4-l dib pa2 db tc"}}
    <i class="material-icons db tc mb1" style="display: block">{{icon}}</i> <div class="db tc">{{text}}</div>
  {{/link-to}}
{{/if}}

