{{indie-subsection-heading title="Internal (App) Layout" description="The App Layout component gives your application a NavBar and Content area."}}

<h3 class="doc-heading">Code</h3>
{{code-snippet name="app-layout.hbs"}}

<h3 class="doc-heading">Example</h3>

<div class="component-example">
  {{#indie-app}}
    {{#indie-navbar title="Layout"}}
      {{indie-navitem text="Nav Item 1" route="layout"}}
      {{indie-navitem text="Nav Item 2" route="forms"}}
      {{indie-navitem text="Nav Item 3" route="list"}}
    {{/indie-navbar}}

    {{#indie-content}}
      Some content goes here.
    {{/indie-content}}
  {{/indie-app}}
</div>

