{{indie-subsection-heading title="Buttons" description="Various types of buttons."}}

<h3 class="doc-subheading">Primary</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="button-primary.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-button type="submit" style="primary" action="buttonAction" text="Primary Button"}}
</div>

<h3 class="doc-subheading">Positive</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="button-positive.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-button type="submit" style="positive" action="buttonAction" text="Positive Button"}}
</div>

<h3 class="doc-subheading">Negative</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="button-negative.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-button type="submit" style="negative" action="buttonAction" text="Negative Button"}}
</div>

<h3 class="doc-subheading">Disabled</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="button-disabled.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-button type="submit" disabled="true" action="buttonAction" text="Disabled Button"}}
</div>

<h3 class="doc-subheading">Link</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="button-link.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-button type="submit" style="link" action="buttonAction" text="Link Button"}}
</div>

