{{indie-subsection-heading title="Form Inputs" description="Various input types."}}

<h3 class="doc-subheading">Text</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="input.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='text' model=model value=model.text label='Text Field' tip='Just the tip mam'}}
</div>

<h3 class="doc-subheading">Textarea</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="textarea.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='textarea' label='Textarea Field' type='textarea'}}
</div>

<h3 class="doc-subheading">Password</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="password.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='password' label='Password Field' type='password'}}
</div>


<h3 class="doc-subheading">Email</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="email.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='email' label='Email Field' type='email'}}
</div>

<h3 class="doc-subheading">Telephone</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="telephone.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='tel' label='Telephone Field' type='tel'}}
</div>


<h3 class="doc-subheading">URL</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="url.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='url' label='URL Field' type='url'}}
</div>

<h3 class="doc-subheading">Numeric</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="numeric.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='number' label='Numeric Field' type='number' min=1 max=5 step=1}}
</div>


<h3 class="doc-subheading">Date</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="date.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='date' label='Date Field' type='date'}}
</div>


<h3 class="doc-subheading">Time</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="time.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='time' label='Time Field' type='time'}}
</div>

<h3 class="doc-subheading">DateTime</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="datetime.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='datetime' label='Date Time Field' type='datetime'}}
</div>


<h3 class="doc-subheading">DateTime</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="color.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
 {{indie-form-control name='color' label='Color Field' type='color'}}
</div>

<h3 class="doc-subheading">DateTime</h3>
<h4 class="doc-heading">Code</h4>
{{code-snippet name="range.hbs"}}

<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{indie-form-control name='range' label='Range Field' type='range' min=0 max=100}}
</div>