{{indie-section-heading title="Introducing Indie UI"}}

<div class="mb5">
  <p>Indie UI is a collection of EmberJS components designed to give you consistent and attractive app layouts with the minimal amount of configuration.</p>

  <p>A list of components that are currently implemented can be found below.</p>
</div>

<div class="mb5">
  {{indie-subsection-heading title="Layouts"}}

  {{#indie-list}}
    {{indie-item title="External" meta="A simple way to structure the external / auth pages for your application." route="layouts.external"}}
    {{indie-item title="Internal" meta="A standard navbar / header layout for internal application pages." route="layouts.internal"}}
    {{indie-item title="Content Sections" meta="A heading with optional tab area for section-based navigation." route="layouts.content"}}
  {{/indie-list}} 
</div>

<div class="mb5">
  {{indie-subsection-heading title="Forms"}}

  {{#indie-list}}
    {{indie-item title="Form Wrapper" meta="A wrapper for your forms that gives default styles and built-in validation of your inputs." route="forms"}}
    {{indie-item title="Inputs" meta="Default styling for all HTML5 input types." route="forms.inputs"}}
    {{indie-item title="Select Lists" meta="Native-style HTML dropdown lists." route="forms.selects"}}
    {{indie-item title="Buttons" meta="All sorts of buttons with default styles that hook straight into the Form Wrapper." route="forms.buttons"}}
  {{/indie-list}}
</div>

<div class="mb5">
  {{indie-subsection-heading title="Lists"}}

  {{#indie-list}}
    {{indie-item title="Item List" meta="A great way to show large lists of items without overwhelming the user." route="lists"}}
  {{/indie-list}}
</div>

<div class="mb5">
  {{indie-subsection-heading title="Typography"}}

  {{#indie-list}}
    {{indie-item title="Subsection Heading" meta="Easy-to-read headings / descriptive text to break up long pages." route="tables"}}
  {{/indie-list}}
</div>

<div class="mb5">
  {{indie-subsection-heading title="Tables"}}

  {{#indie-list}}
    {{indie-item title="Basic Table" meta="A standard HTML table with some predefined styles."}}
  {{/indie-list}}
</div>