{{indie-section-heading title="Tables"}}

{{indie-subsection-heading title="Basic Table" description="A simple table."}}

<h4 class="doc-heading">Code</h4>
{{code-snippet name="table.hbs"}}


<h4 class="doc-heading">Example</h4>
<div class="component-example">
{{#indie-table}}
  {{#indie-table-header}}
    {{indie-table-header-cell text="Column 1"}}
    {{indie-table-header-cell text="Column 2"}}
    {{indie-table-header-cell text="Column 3"}}
  {{/indie-table-header}}

  {{#indie-table-row}}
    {{indie-table-cell text="Row 1 Column 1"}}
    {{indie-table-cell text="Row 1 Column 2"}}
    {{indie-table-cell text="Row 1 Column 3"}}
  {{/indie-table-row}}

  {{#indie-table-row}}
    {{indie-table-cell text="Row 2 Column 1"}}
    {{indie-table-cell text="Row 2 Column 2"}}
    {{indie-table-cell text="Row 2 Column 3"}}
  {{/indie-table-row}}

  {{#indie-table-row}}
    {{indie-table-cell text="Row 3 Column 1"}}
    {{indie-table-cell text="Row 3 Column 2"}}
    {{indie-table-cell text="Row 3 Column 3"}}
  {{/indie-table-row}}

  {{#indie-table-footer}}
    {{indie-table-footer-cell text="Column 1"}}
    {{indie-table-footer-cell text="Column 2"}}
    {{indie-table-footer-cell text="Column 3"}}
  {{/indie-table-footer}}
{{/indie-table}}
</div>
