{{indie-subsection-heading title="Toaster" description="A temporary message useful for showing quick bits of information to the user."}}

<h3 class="doc-heading">Code</h3>
{{code-snippet name="toaster.hbs"}}

<h3 class="doc-heading">Example</h3>

<div class="component-example">
{{indie-button type="submit" style="primary" action="triggerDefault" text="Trigger Default Toaster"}}
{{indie-button type="submit" style="primary" action="triggerError" text="Trigger Error Toaster"}}
{{indie-button type="submit" style="primary" action="triggerWarning" text="Trigger Warning Toaster"}}
</div>